:root {
	--primary-color: #3498db;
	--secondary-color: #ffffff;
	--border-radius: 0.25rem;
}

body {
	margin: 20px 60px;
	width: 100%;
	height: 100%;
}

.app {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #181a24;
}

.video-container,
.meta-container {
	border-radius: var(--border-radius);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease-in-out;
}

.video-container:hover,
.meta-container:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.video {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 1200px;
	margin-top: 2rem;
}

.meta-container {
	display: flex;
	flex-direction: column;
	border: 2px solid var(--primary-color);
	height: 250px;
	justify-content: flex-start;
	padding: 20px;
	border-radius: 5px;
	margin-left: 20px;
}

.meta-container h2 {
	color: var(--primary-color);
	font-weight: bold;
}
.txt-c {
	color: white !important;
}

.meta-container div {
	color: #333;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}

.input_container,
.drop-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 60px;
	width: 300px;
	border-radius: var(--border-radius);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.input_container:hover,
.drop-container:hover {
	background-color: #2980b9;
}

input[type="file"] {
	display: none;
}

label {
	cursor: pointer;
	padding: 10px;
	border-radius: var(--border-radius);
	background-color: #2ecc71;
	color: #fff;
	transition: background-color 0.3s ease-in-out;
}

label:hover {
	background-color: #27ae60;
}

.drop-container {
	position: relative;
	padding: 20px;
	border: 2px dashed #555;
	color: #444;
	cursor: pointer;
	transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container:hover,
.drop-container.drag-active {
	background: #eee;
	border-color: #111;
}

.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
	color: #222;
}

.drop-title {
	color: #444;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	transition: color 0.2s ease-in-out;
}

input[type="file"] {
	width: 350px;
	max-width: 100%;
	color: #444;
	padding: 5px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #555;
}

input[type="file"]::file-selector-button {
	margin-right: 20px;
	border: none;
	background: #084cdf;
	padding: 10px 20px;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
	background: #0d45a5;
}
